html, body, figure, figcaption, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

figure {
  border: 10px solid black;
  height: 400px;
  width: 400px;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: green;
}

.apple {
  background: red;
}

a {
  text-decoration: none;
}

.extras {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.scores {
  display: flex;
  justify-content: space-between;
}
