html, body, figure, figcaption, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

figure {
  display: inline-block;
  border: 10px solid black;
  height: 410px;
  width: 410px;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: green;
}
